body {
    background-color: lightsteelblue;
}
.d1 {
    background-color: lightskyblue;
}
.d2 {
    background-color: lightsalmon;
}
.d3 {
    background-color: paleturquoise;
}
.d4 {
    background-color: lightpink;
}
.d5 {
    background-color: palegreen;
}

.container {
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 100px 100px 1fr;
    grid-gap: 30px 10px;
    grid-template-areas:
    "header header header"
    "advert content content"
    "footer footer footer";
}
.item1 {
    grid-area: header;
}
